section{
    margin:0% 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
a{
    text-decoration: none;
    width: 100px;
    padding: 9px;
    border: 2px #34223b solid;
}
a:hover{
    background-color: #cc9edf;
}
h1{
    text-align: center;
}
